<html>
    <head>
        <title>Chartruse's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Chartruse's blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Test post yo</a></h2>
            <p>I must proceed at a high velocity.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Truther</a></h2>
            <p>We must embrace pain as a fuel for our journey.</p>
        </div>
    </body>
</html>
